/* General Styles */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid #7BC6A7;
  background: #5BB891;
  color: white;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  border: 1px solid white;
}

#wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.options {
  height: 100%;
  display: flex;
}

.options>span {
  margin-left: 30px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 2px;
}

.options>span:hover {
  background: white;
  color: #5BB891;
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 3px;
}

/* Helpers */

.vertically-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hover-animation {
  transition: all .2s ease-in-out;
}

.hover-animation:hover {
  background: white;
  color: #5BB891;
}

/* Client Section */

#client-section {
  background: #4B545D;
  color: #67A3E7;
}

#client-section.graph-title {
  color: white;
}

.graphs {
  display: flex;
  justify-content: space-between;
}

.graph-container {
  width: 30%;
  min-height: 100px;
}

.graph-container span {
  margin: 0 auto;
}

.donut-chart {
  position: relative;
  width: 110px;
  height: 55px;
}

.donut-chart::before,
.donut-chart::after {
  position: absolute;
}

.donut-chart::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid #596169;
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.donut-chart::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.donut-chart li {
  position: absolute;
  top: 150%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
}

.donut-fill {
  z-index: 4;
  border-color: #67A3E7;
  transform: rotate(150deg);
}

/* Alerts Section */

#alerts-section {
  background: #5BB891;
  color: white;
}

#alerts-list {
  /* margin: 20px 0; */
}

.alerts-list-item {
  border-top: 1px solid #73C2A2;
  border-bottom: 1px solid #73C2A2;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.alerts-list-item>div:nth-child(1) {
  width: 30%;
}

.alerts-list-item>div:nth-child(2) {
  width: 30%;
}

.alerts-list-item-name {
  display: flex;
}

.cake-icon {
  background: #7BC6A7;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
}