/* General Styles */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

i {
  pointer-events: none;
}

button {
  border: 1px solid #7BC6A7;
  background: #5BB891;
  color: white;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  border: 1px solid white;
}

#wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.options {
  height: 100%;
  display: flex;
}

.options>span {
  margin-left: 30px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 2px;
}

.options>span:hover {
  background: white;
  color: #5BB891;
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 3px;
}

/* Helpers */

.loading {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.vertically-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-to-bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.hover-animation {
  transition: all .2s ease-in-out;
}

.hover-animation:hover {
  background: white;
  color: #5BB891;
}

/* Client Section */

#client-section {
  background: #4B545D;
  color: #67A3E7;
}

#client-section.graph-title {
  color: white;
}

.client-options {
  position: absolute;
  background: white;
  border-radius: 3px;
  padding: 5px;
  width: 70px;
  top: 0;
  right: 24px;
  color: #4B545D;
}

.client-options>li:hover {
  color: #333;
}

.graphs {
  height: 140px;
  display: flex;
  justify-content: space-between;
}

.graph-container {
  width: 200px;
}

.graph-container span {
  margin: 0 auto;
}

#myChart {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.barchart-bar {
  width: 10%;
  height: 80px;
  background: #596169;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.barchart-bar>div {
  width: 100%;
  background: #67A3E7;
}

.barchart-bar:hover>div {
  background: #2E8FFF;
}

.info,
.client-count {
  color: white;
  z-index: 100;
  position: relative;
  bottom: 65px;
  text-align: center;
  width: 100%;
}

.client-count {
  bottom: 60px;
  color: #67A3E7;
  font-size: 40px;
  font-weight: lighter;
}

.increase>span {
  font-size: 2rem;
  font-weight: lighter;
}

/* Alerts Section */

.select-dropdown {
  background: #5BB891;
  color: white;
  border: none;
  text-align: right;
}

.select-dropdown option {}

.select-dropdown:hover {
  border: none;
}

#alerts-section {
  background: #5BB891;
  color: white;
  min-height: 350px;
}

#alerts-list {
  /* margin: 20px 0; */
}

.alerts-list-item {
  border-top: 1px solid #73C2A2;
  border-bottom: 1px solid #73C2A2;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.alerts-list-item>div:nth-child(1) {
  width: 30%;
}

.alerts-list-item>div:nth-child(2) {
  width: 30%;
}

.alerts-list-item-name {
  display: flex;
}

.cake-icon {
  background: #7BC6A7;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.see-more>button {
  background: #7BC6A7;
  border: none;
  border-radius: 3px;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .graphs {
    flex-direction: column;
    height: auto;
  }
  .graph-container {
    margin: 0 auto;
  }
  .alerts-list-item {
    flex-direction: column;
  }
  .alerts-list-item>div {
    width: 100% !important;
  }
  .menu {
    flex-direction: column;
  }
  .options>span {
    margin: 5px;
  }
  .client-options {
    left: 23px;
  }
}